.env
.env.local

node_modules/
dist/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
Dockerrun.aws.json
Dockerrun.aws.json.zip
deployment-flow.md
*.zip

# macOS
.DS_Store

# VSCode
.vscode/*

